*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --width:100%;
}

body{
    background-color: rgb(14, 14, 14);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    width: 70%;
    background-color: #F9FAFB;
}
.div_img{
    width: 40%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.credits{
    position: absolute;
    color: white;
    bottom: 20px;
    left: calc(var(--width)/2);
    transform: translateX(-50%);
    font-size: 1em;
}
span:hover{
    text-decoration: underline;
}
img{
    width: var(--width);
    height: 100%;
    object-fit: cover; 
}
.twice_logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;


    /*just put here for transparent reference*/
    /*background-color: rgba(255, 255, 255, 0.5);*/

}

.div_left_side{
border: 1px solid red;
width: 50px;
height: 100%;
display: inline;
padding: 20px;
margin: 20px;

}
