*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
:root{
    --width:100%;
}

body{
    background-color: rgb(14, 14, 14);
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    width: 70%;
    background-color: #F9FAFB;
}
.div_img{
    position: relative;
}
.credits{
    position: absolute;
    color: white;
    bottom: 20px;
    left: calc(var(--width)/2);
    transform: translateX(-50%);
    font-size: 1em;
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.bg_img{
    width: var(--width);
    height: 100vh;
    object-fit: cover; 
}
.twice_logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;


    /*just put here for transparent reference*/
    /*background-color: rgba(255, 255, 255, 0.5);*/

}
.twice_img{
    height: 100px;
    object-fit: cover; 
}

.div_left_side{
display: grid;
align-items: center;


}

.lyrics{
 font-size: 15px;
 font-weight: bolder;
 line-height: 1.5;
 letter-spacing: 0.5px;
 margin-bottom: 10px;
padding: 20px;
}

form{
    border-top: 1px solid #F9FAFB;
    background-color: white;
    height: 241px;
}

.warning{
    font-size: 10px;
    color: #FF3871;
    margin-top: 3px;
}

fieldset{
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    
}
.h3_inside_fieldset{
    height: 40px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}


.right_div div, .left_div div{
    margin-bottom: 20px;
    padding-left: 20px;
}
input,label{
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
}
label{
    font-weight: bold;
    cursor: pointer;
}
input{
    height: 25px;
    width: 200px;
    border:1px solid #c8c9ca;
    border-radius: 3px;
    outline: none;
    padding-left: 7px;
    
}
input:focus {
    border-color: blue;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
.create_acc_btn{
    margin: 20px;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: #67aedb;
    font-weight: bolder;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.create_acc_btn:hover{
    background-color: #AFD2E8;
    color: #67aedb;
}
.already_acc{
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.already_acc span{
    color: #67aedb;
}
